[2019-05-14 17:08] kraftner opened #1 "[Enhancement] Download translations on first install"
Currently translations are only downloaded when a package is installed or updated. But if you didn't add `wp-translation-downloader` from the very beginning, translations do not get downloaded at all until a package gets updated.

I see three approaches:

1. Won't fix: One should install this package in the beginning. 😭
2. Add a possibility to manually trigger download of all translations, e.g. wi

[2019-05-15 05:47] tyrann0us commented on #1
As a workaround, you could delete `wp-content/plugins/`/`wp-content/themes/` and run `composer install`. `wp-translation-downloader` should then download language files for all packages.

[2019-05-15 08:34] kraftner commented on #1
:smile: Thanks, I figured that out myself, but good to mention it here too. :+1:

[2019-09-11 12:02] Biont opened #2 "GlotPress/Traduttore support"
It would be immensely practical if this package would be able to check arbitrary [GlotPress](https://github.com/GlotPress/GlotPress-WP) instances for translations of packages. This would make it much easier to deploy private packages while maintaining a convenient translation workflow for them.

Please keep in mind that [Traduttore](https://github.com/wearerequired/traduttore) may be used to custo

[2019-12-19 12:34] MaximeCulea commented on #1
Hi there 👋

Option 3 seems like overkill since we have to manually configure the extras :P
For me, the second option seems legit, to have the possibility to manually lunch it. It could also be a solution in some cases to check if any new translations or whatever. Because GlotPress new translations are not related to plugins update.

Just my feedback on this, good job anyway! ;)

[2019-12-19 12:39] MaximeCulea opened #3 "Core Translations"
Hio :wave:

Awesome work here ;)

I wanted to request you a new feature, as WordPress is also installed with Composer and it's like a "WordPress Package", it could be usefull to download the core translations for a fresh install and/or updating core.

What do you think about that?

Thx

[2019-12-19 13:20] MaximeCulea commented on #3
In fact, it's already implemented ^^ looking into the classes and the one for core translations. But on the install there is no core tranlsations downloaded :/

[2019-12-20 06:31] tyrann0us commented on #3
Hi @MaximeCulea,
yes, translations will be installed also for WordPress core. For this to work, the WordPress Composer package must be of type `wordpress-core`.

Which package do you use? With [`johnpbloch/wordpress`](https://github.com/johnpbloch/wordpress) it works for me:
[code]

[2019-12-20 07:10] MaximeCulea commented on #3
Thank you for the quick update !
I’ll check this out, maybe my custom install not configured well.

[2019-12-20 15:00] MaximeCulea commented on #3
I had no internet while I was installing / initializing my project. Now I have, even languages are setted in the composer.json :
[code]
The package is warning me it is not setted, resulting in all languages to be downloaded :/
Any idea if I am doing something wrong?

[2020-01-07 13:11] MaximeCulea commented on #3
Ok, so to add some new elements, here what is happening in my workflow during the composer create project :

1. ask for languages
![Untitled_ Jan 7 2020 1_52 PM - Edited - Edited](https://user-images.githubusercontent.com/5576409/71897372-b1e8e480-3156-11ea-82e6-6a0e38757959.gif)

2. the composer.json is correctly edited depending on the choice(s)
![Untitled_ Jan 7 2020 1_52 PM - Edited](https://u

[2020-01-17 08:14] Chrico commented on #3
Howdy @MaximeCulea .

Sry for the late response, but its for me the first week of work this year ;)

Can you pls provide your full `composer.json` ? I guess something is interfering with the package.

Also i can see in your last give some selection for _"WP Languages: language(s) of the site?"_ - this looks very suspicious to me, since it's kind of named similar to our package naming schema, but i

[2020-01-17 17:40] MaximeCulea commented on #3
Hi @Chrico, thank you for your time to respond.

I could send ii to you but not as public one :)

It's definitely not you. I've done a command that prompt and ask the languages by adding at
`post-root-package-install` the command
[code]
that lunch the following script [WPLanguages.php](https://github.com/inpsyde/wp-translation-downloader/files/4078004/WPLanguages.php)

[2020-01-18 19:22] Chrico commented on #3
Ping me in WordPress-Slack (ChriCo / Christian Leucht) or send me an E-Mail c.leucht@inpsyde.com and i'll try to have a look at it! :)

[2020-02-26 10:13] Chrico commented on #2
added support for GlotPress API. Please have a look at the documentation.

[2020-03-24 15:41] Chrico commented on #2
This issue is now done and support for self-hosted GlotPress is included in version 1.0 of `wp-translation-downloader`.

[2020-03-24 15:41] #2 closed, assigned to Chrico, Biont, tyrann0us

[2020-04-27 12:26] Chrico commented on #1
Howdy. Sorry for beeing very very very late 😬

With the latest changes in `dev-master` i implemented the possibility to configure `'auto-run': false` and instead running the download via command manually. Checkout the README here: https://github.com/inpsyde/wp-translation-downloader#commands

Release will hopefully come this week. Depending on feedback from my colleagues ( @tyrann0us ). ;)

[2020-05-05 11:19] Chrico commented on #1
okay, after >100 deploys on real projects, this works pretty stable. Even locally it works command-wise like it should. :-) I created a new release 1.1 which contains those features.

If there is nothing "against" it, i'll close this ticket soon @kraftner / @MaximeCulea  ;-)

[2020-08-06 08:16] #1 closed, assigned to Chrico

[2020-08-12 09:30] MaximeCulea commented on #1
:+1: I'll watch if the dev-master change something on my #3 issue. Thx!

[2020-08-12 11:08] MaximeCulea opened #6 "Found 0 translations"
On a fresh install and 1.1.3 version of wp-translation-downloader, I am doing the new download command in order to download the languages that I have setted into the json file like so:
[code]

Despite some endoints found translations, for exemple the core 5.5.0 de_DE, it keeps saying "found 0 translations".
So to understand what is going on, above is the verbose display:
[code]

[2020-08-12 11:10] MaximeCulea commented on #3
I was looking forward to check if the 1.1.3 could work better in my use case, but found that core download is still break #6 :'(

[2020-08-12 11:56] Chrico commented on #6
Howdy @MaximeCulea

can you share your composer.json so that i'm able to re-create the issue? :) For me it is working fine.

I'm using following to test:

**composer.json**
[code]

**wp-translation-downloader.json**
[code]

and the result is following:

![image](https://user-images.githubusercontent.com/3417446/90013164-0a600180-dca5-11ea-93d3-dd7013ba3bc8.png)

----

running it manually (clearing

[2020-08-12 12:10] MaximeCulea commented on #6
Hi @Chrico, it's me again, thank you for your time :)

Nor mine custom project starter or bedrock one is working with following composer.json (ps for share I have copied the content of wp-translation-downloader.json into composer.json):
[code]

[2020-08-12 12:17] Chrico commented on #6
Howdy @MaximeCulea ,

when using your `composer.json` and adding the `"inpsyde/wp-translation-downloader": "1.1.3"` as dependency + moving the `wp-translation-downloader` to correct place, it is working for me:

![image](https://user-images.githubusercontent.com/3417446/90013945-84dd5100-dca6-11ea-8061-2a8d4d984a1b.png)

----

Is it might be possible, that https://api.wordpress.org/translations/co

[2020-09-10 13:41] j-falk commented on #6
I actually had the same issue with `composer wp-translation-downloader:download --verbose` not finding any translations when trying this out locally using the site shell through localwp (https://localwp.com/) on my mac.

But then I did get it working if I instead ran it directly on my mac and not through localwp.

I also tested if I could access the urls using curl and that worked. The other diffe

[2020-09-11 06:14] Chrico commented on #6
howdy @j-falk

thanks for your feedback!

Is it possible to run `composer self-update` for localwp and retest?

Also, have you tested to curl/wget the API endpoint from your local machine or through localwp? Actually i'm not using curl in code, i'm using `copy` to get the ZIP file. So it's might be possible, that this is not possible within localwp. 🤔

Best greetings,
Chris

[2020-09-11 06:53] j-falk commented on #6
Updating composer didn't solve the issue, so guess it's not related to that.

Also tested `curl "https://api.wordpress.org/translations/core/1.0/?version=5.5.1"` and it worked worked but `wget "https://api.wordpress.org/translations/core/1.0/?version=5.5.1"` gave `command not found: wget`.

How could I test it using copy? Is it `copy "https://api.wordpress.org/translations/core/1.0/?version=5.5.1"

[2020-09-11 07:05] Chrico commented on #6
good morning ☕

you can run php code from your shell with:

[code]

and then execute every code you want, for example:

![image](https://user-images.githubusercontent.com/3417446/92881182-068fde00-f40f-11ea-8757-6971893f5122.png)

But i also improved the implementation for downloading files in `TranslationDownloader` to use the `Composer\Util\RemoteFilesystem`. This implementation is slower, but s

[2020-09-11 09:44] j-falk commented on #6
Running this in localwp gives nothing:
[code]
It sort of stops and nothing gets returned. When trying directly on my local it returns `bool(true)`.

How can I update composer to use `dev-master` and see if that solved the issue?

[2020-09-11 09:50] Chrico commented on #6
@j-falk i've updated the `inpsyde/wp-translation-downloader` - so just use the `dev-master` in your `composer.json` :)

[2020-09-11 10:03] j-falk commented on #6
Ok, don't seem like that changed anything unfortunately. Still don't find any translations.

[2020-10-26 10:50] stian-overasen opened #8 "Fatal error during installation with Composer 2"
The ZipDownloader you're using in `Plugin.php` is missing a required argument for Composer 2. This causes a fatal php error during installation.

https://github.com/inpsyde/wp-translation-downloader/blob/033beca1451b233cfdd24073cf3b33977dd4e018/src/Plugin.php#L132

PHP Fatal error:  Uncaught ArgumentCountError: Too few arguments to function Composer\Downloader\FileDownloader::__construct(), 2 pass

[2020-10-26 11:15] Chrico commented on #8
Thanks, i see, that the `ZipDownloader`  - or better said the `FileDownloader` needs in v2 an instance of [`HttpDownloader`](https://github.com/composer/composer/blob/master/src/Composer/Downloader/FileDownloader.php#L77) - while on v1 this was [not there](https://github.com/composer/composer/blob/1.10/src/Composer/Downloader/FileDownloader.php#L59). I need to see, if i can detect the version of C

[2020-10-26 14:00] Chrico commented on #8
Just a quick feedback: I started to work on an own branch "composer-v2" https://github.com/inpsyde/wp-translation-downloader/tree/composer-v2  which will also remove compatibility to Composer v1.

[2020-10-28 10:16] Chrico commented on #8
@stian-overasen is it might be possible, that you can checkout the branch locally for testing in your project?

I added several Integration Tests to run with Composer v2 and also tested a lot locally on my machine. So far it works good for me, but considering, that at Inpsyde, some of our Tools are not supporting Composer v2 yet (like https://github.com/franzliedke/studio), it's hard for me to upg

[2020-10-28 10:33] stian-overasen commented on #8
I'll get right on that @Chrico ! Thank you for the quick response!

[2020-10-28 11:15] stian-overasen commented on #8
Works great @Chrico, both with Composer 1 and Composer 2. :thumbsup:

[2020-10-30 14:45] Chrico commented on #8
Cheers @stian-overasen !

Thanks for the feedback. After some more time spending on testing different scenarios and projects, i finally created a new 2.0 release of WP Translation Downloader. :-) If it's okay for you, i'll close that issue after weekend. 👍

[2020-11-05 07:53] #8 closed, assigned to nobody

[2021-01-11 10:49] MaximeCulea commented on #6
As for me the #3 is now working and in this one I can find translations for now, should I close or @j-falk want to keep it open?
I am using now the 2.0.2 version.

[2021-01-11 11:29] MaximeCulea commented on #3
Now the 2.0.2 is working fine 👌

[2021-01-11 11:29] #3 closed, assigned to Chrico

[2021-01-11 11:37] MaximeCulea opened #9 "Handle the case if the translation already exists"
**Describe the bug**
When a translation has already been downloaded, on update/install packages, the "same" translation can't handle the fact it's already existing. There is like a prompt to ask user choice, but no prompt is asked, the script skips alone to the next translation.

**To Reproduce**
Steps to reproduce the behavior:
1. Lunch the composer install/update once
2. Again, to lunch the same

[2021-03-23 16:51] johnbillion opened #10 "Excludes are not working"
**Describe the bug**

The `excludes` config option is not functional.

**To Reproduce**

1. Follow the instructions in [the Exclude specific packages section of the project readme](https://github.com/inpsyde/wp-translation-downloader#exclude-specific-packages), except:
   - `wpackagist-plugin/wordpress-seo` doesn't exist
   - I'm using `inpsyde/wp-translation-downloader` at version `^1`
2. Run `co

[2021-03-23 16:58] johnbillion opened #11 "Option to skip installing languages"
**Is your feature request related to a problem? Please describe.**

WP Translation Downloader attempts to download translations every time `composer install` runs. It would be great if it didn't, because on a site with a large number of dependencies it can get slow.

**Describe the solution you'd like**

Some options:

1. Only attempt to download translations when the version number of a dependenc

[2021-03-23 20:46] Chrico commented on #11
Hey @johnbillion !

Thanks for your issue.

To your suggestions - from bottom to top:

----

**3. Flag to enable/disable fetching translations**
You can use the `"auto-run": false`-option to only install translation files manually via CLI command `composer wp-translation-downloader:download`.
--> Is this what you're searching for? :-)

----

**2. Only install when package is installed first time o

[2021-03-25 09:35] Chrico commented on #10
Hey @johnbillion !

Sorry for the late response. Just couldn't find much time to investigate that. It seems the call for `$this->pluginConfig->doExclude()` was missing in the update-logic.

I've add a fix for this in `1.x`-branch. Could you pls verify that everything now works for you? :-) The same fix was applied to `dev-master` (version 2.x) including a Behat test to verify that the example from

[2021-03-25 21:52] johnbillion commented on #10
Thanks! That's working nicely.

[2021-03-25 21:53] johnbillion commented on #11
Ah I think I saw the `auto-run` option but didn't realise what it did. That suits our workflow, thanks.

[2021-03-26 06:31] Chrico commented on #10
Perfect! Created a new release 1.2.3 for the 1.x branch as well. 👍

[2021-03-26 06:31] #10 closed, assigned to Chrico

[2021-03-26 06:34] #11 closed, assigned to Chrico

[2021-04-01 12:45] j-falk commented on #6
We can close it :)

Thanks!

[2021-04-01 12:59] j-falk commented on #2
I have read through the documentation at https://github.com/inpsyde/wp-translation-downloader#custom-glotpress-installations and have tried to get this working but don't really follow how this should work.

Here is an example:

- We have our own glotpress install setup at for example http://glotpress.example.org/
- There we have a project setup to translate a plugin to Norwegian, so the url to edi

[2021-04-01 13:12] #6 closed, assigned to Chrico

[2021-04-01 13:22] Chrico commented on #2
Hey @j-falk

Thanks for your question. We're using currently a selfhosted GlotPress as well for our private and custom Plugins/Themes/Libraries.

Normally in GlotPress each project has an URL like `https://glotpress.example.com/projects/{projectName}/` to manage languages. The API to fetch entires for this project is available in `http://glotpress.example.com/api/translations/{projectName}`.

The

[2021-05-03 14:21] soderlind commented on #9
Having the same problem. I suggest that you add a parameter like:

`"replace" :   "[yes|no|All|None|rename]"`

as in:

[code]

[2021-05-03 14:59] MaximeCulea commented on #9
@soderlind Smart!

It's not a bugfix, more a workarround, but at least I'll take that 🤗

[2021-05-03 19:12] soderlind commented on #9
Thank you, and I agree, it's not a bug it's an enhancement :)

[2021-05-04 06:45] Chrico commented on #9
Good morning ☕

Our package tries to use the system `unzip`-comand first to unzip the files. This comand fails, because the files already exists in the target folder. But afterwards it is falling back to PHP `ZipArchive` - you can see that right below the prompt message:

[code]

If `ZipArchive` also fails, then we're trying to run `unzip` with the `-o` argument as "last chance". Same does [compos

[2021-05-04 14:05] soderlind commented on #9
According to https://www.javaer101.com/en/article/15338356.html there's a bug in ZipArchive, you should pass the flags `ZIPARCHIVE::CREATE | ZIPARCHIVE::OVERWRITE` when you open the zip.

https://github.com/inpsyde/wp-translation-downloader/blob/e37ea671dd33689eb49e90b57290e45599de5e7e/src/Util/Unzipper.php#L188

[2021-05-04 15:30] Chrico commented on #9
Oh good to know, but seems to be related to PHP 5.x.

As far as i could see for now:

**Composer v2:**
https://github.com/composer/composer/blob/2.0/src/Composer/Downloader/ZipDownloader.php#L181

Composer v1 has similar. Hm..i don't think this is critical, because it only occurs when you create a new archive. But we're actually reading from an existing archive the files.

[2021-05-07 18:11] kimmenbert commented on #2
Hey,

Trying to get this to work for a single plugin in a selfhosted GlotPress installation.

composer.json content:
[code]

Been trying different API endpoints with no great success, including:
* /api/translations/woocommerce .. as you noted above. There does not seem to be a translations route in the API?
* /api/plugins/woocommerce .. as the readme suggests
* /api/woocommerce/ .. because looking

[2021-05-07 18:42] Chrico commented on #2
Hey 👋

The configuration should look like following

[code]

*[!] Note:* The last URL piece "woocomerce" is the name of your translation project in GlotPress.

The URL structure for GlotPress is following:

- **Edit your project translations:** https://glotpress.example.com/projects/{project-name}/
- **API for your project:** https://glotpress.example.com/api/translations/{project-name}/

You need

[2021-05-07 18:52] kimmenbert commented on #2
Wow, thanks for that quick reply.
You say: You need to provide the API-Endpoint for `inpsyde/wp-translation-downloader`

What do you mean by this?
On the selfhosted GlotPress, do we need to do more than just having the GlotPress plugin installed, with projects and translations?

--
Update:
Seems like Traduttore was the missing component to make this work, since Traddutore has the wanted API endpoi

[2021-05-19 14:22] jenkoian opened #12 "Allow installation of translations from a local directory"
**Is your feature request related to a problem? Please describe.**
We are using MLP 3.0 and thus the translations listed on https://api.wordpress.org/translations/plugins/1.0/?slug=multilingual-press are not the same. The translations are available within the `languages` directory of the plugin (so in `wp-content/plugins/multilingualpress/languages`). As far as I can tell, there's no way to instal

[2021-06-13 16:54] gmazzap commented on #9
Having a similar issue.

First of all, Composer has a [`IOInterface::isInteractive()`](https://github.com/composer/composer/blob/master/src/Composer/IO/IOInterface.php#L36) method. When that is `true`, Composer is being executed on a non-interactive shell, and so letting commands ask for input is pointless, and will likely end up in a failure.

In great majority of cases, in my experience, if a tr

[2021-06-14 07:24] Chrico commented on #9
Just a bit context regarding the API's and the response:

The API response has a "version"-string. But the zip files for translations are always generated via WP Cron when a [translation is updated](https://github.com/wearerequired/traduttore/blob/d3653f1a00edb5464ff38a8d302d47cc2927836d/inc/Plugin.php#L49-L69). On wordpress.org-API you need additionally at least 90% of the strings translated (e.G

[2021-06-14 08:22] gmazzap commented on #9
Thanks @Chrico

I understand that translation version is not code version, but when you pull a 3rd party plugin from version (e.g. wp.org plugin) _very rarely_ you need to update the translation if the code version is the same.

For custom GlotPress installations, that might be different, and if we have a better way to indetify changes, why not.

[2021-07-21 10:29] Chrico commented on #12
Sorry for the very very late response (☕ ).

It sounds to me like a good idea to have a local path instead of an API-Endpoint to maybe fetch translations. But first of all i'd like to give this ticket @danielhuesken for further clarification regarding the behavior of MLP.

[2021-07-21 11:45] danielhuesken commented on #12
@jenkoian In MLP 3 we add translations directly form our system on every release.
But you'er right we not have load_plugin_textdomain in MLP. Will will fix it in the next release.

[2021-07-21 13:10] danielhuesken commented on #12
@jenkoian Sorry, now i see that we use load_text_domain() in MLP directly to prevent problems with the version on wp.org.

[2021-07-23 09:28] jenkoian commented on #12
That makes sense, I can see that now. I still feel a way to install translations from a local directory would be useful, but you can close this now if you'd prefer. Thanks.

[2021-07-23 12:00] Chrico commented on #12
Hey ☕

I need to re-think this issue. `wp-translation-downloader` is meant to be used on deployment or while working locally with WordPress. It tries to download for all configured languages from a GlotPress endpoint for each listed dependency in composer.json the translations files.

It is not meant to solve how a Plugin, Theme or Library are loading translations. WordPress has for this an API wh

[2021-10-16 04:49] benoitchantre opened #13 "Add support for `wordpress-muplugin` package type"
At the moment, the following packages types are supported:

- wordpress-core
- wordpress-plugin
- wordpress-theme
- library

It would be great to add `wordpress-muplugin` to that list.

[2021-10-16 05:11] benoitchantre opened #14 "Allow to change `auto-run` value from an environment variable"
**Is your feature request related to a problem? Please describe.**
I’m trying to optimize some steps in a CI context.
The download of translations take is not necessary for some jobs (ex: coding standards checks).

**Describe the solution you'd like**
I would like to be able to disable the download of translations for specific CI jobs, and I think that the usage of an environment variable to modif

[2021-10-21 06:58] Chrico commented on #13
Good morning. Sorry for the late response (still in vacation :) ).

I guess it's fine to add `wordpress-muplugin`-type  to the supported list. Probably we shouldn't even restrict to types. Basically every custom composer type can provide translations.

Hm...the problem is, that there is no default WP.org REST Endpoint for getting translations from muplugins and we also have no API in WP Core to lo

[2021-10-21 07:01] Chrico commented on #14
Hm...sounds reasonable to use env-vars for configuration. But this would mean i need to support all configurations via env vars. Hm...we could also allow supporting env-based configurations via json files. Something like `wp-translation-downloader.json` (default) and will be merged with `wp-translation-downloader.{env}.json`. But this sounds like a lot overhead and i've no real use case (aside fro

[2021-10-21 09:50] benoitchantre commented on #14
Thank you for your feedbacks.

The idea behind using env var is to keep the default behaviour for the developer, but to be able to change it in another context like a CI environment.

Maybe it's easier and better to set the `auto-run` as `false` as you do, to add a step in GitHub Actions and to update manually when necessary in the local environment. If you forget to update translations in your lo

[2021-11-04 11:08] benoitchantre opened #15 "Add support for TranslationsPress"
**Is your feature request related to a problem? Please describe.**
Gravity Forms has removed the languages files from their package since version 2.5.0
They now use [TranslationsPress](https://translationspress.com/) to manage their translations which is apparently not based on GlottPress.

**Describe the solution you'd like**
Whould it be possible to some sort of support for TranslationsPress?

R

[2021-11-04 12:16] Chrico commented on #15
Hey ☕

We're downloading Gravityforms translations as well via `inpsyde/wp-translation-downloader`. As far as i can see TranslationPress is also using the same response as GlotPress does.

We have configured in our `wp-translation-downloader.json` following:

[code]

You need to adapt the ` "inpsyde-mirror/gravityforms"` to yours, i don't know how you ship Gravityforms in your composer.json :)

[2021-11-04 12:26] #14 closed, assigned to Chrico

[2021-11-04 13:18] benoitchantre commented on #15
Thank you for this detailed and helpful answer!

I use [Release Belt](https://github.com/Rarst/release-belt) with premium plugins like Gravity Forms. I have also tried SatisPress but some plugins cannot be activated at the same files. Curious to know what solution you use.

[2021-11-04 13:26] Chrico commented on #15
We're using a WordPress multisite with SatisPress, where we group plugins like "all WooCommerce-plugins go into a blog 1", "All Gravityforms-plugins go into blog 2" and so on. Works at least in terms of "compatibility" and nothing breaks...but that multisite is slow as hell thanks to all those "premium Plugins"....at least it fullfills its purpose. 😬 A server cron takes care of running the WP Cron

[2021-11-04 15:19] benoitchantre commented on #15
Thank you for these infos. I did the same thing with SatisPress but wasn't convinced enough to replace Release Belt, even with the multisite configuration (much better than an single installation, but it is not possible to get automated updates without a network activation).

[2021-11-12 09:35] #15 closed, assigned to Chrico

[2021-12-21 13:53] benoitchantre opened #18 "Is PHP 8 supported?"
In `composer.json`, I see `"php": ">=7.1"` as requirement, but the unit tests matrix doesn't have PHP 8 or PHP 8.1.

If PHP 8 and PHP 8.1 are not supported, `composer.json` should indicate a requirement like that : `"php": "^7.1"`.

[2022-01-03 09:15] Chrico commented on #18
Hey ☕  right now i'm using it locally with PHP 8.0 and it works. So we might can adapt the composer.json and Github workflows to cover PHP 7 and 8.

[2022-02-04 10:13] calind opened #19 "Cannot use with latest bedrock because it requires `composer/installers: ^2.0`"
Latest bedrock requires `composer/installers: ^2.0` so `wp-translation-downloader` fails installing with:
[code]

[2022-02-04 10:45] gmazzap commented on #19
@Chrico I think changing the requirements from ` "composer/installers": "^1.6"` to ` "composer/installers": "^1.6 || ^2"` should be straightforward and don't cause any issue.

We don't really use code from ` composer/installers`, even assuming there're BC breaks in code... that'll be unrelevant for us.

[2022-03-14 14:28] #18 closed, assigned to nobody

[2022-03-14 14:31] #19 closed, assigned to Chrico

[2022-03-19 19:49] gioamato opened #24 "[Feature Request]: Support Containerized WordPress Environments"
### Is your feature request related to a problem?

As for actual docs (if i'm not missing something) this plugin downloads WordPress core translations when a package with type `wordpress-core` is added in `composer.json`.

This is not the case when using a containerized approach to WordPress, like the official Docker image:
https://hub.docker.com/_/wordpress

Of course WordPress can download it's

[2022-03-21 08:00] Chrico commented on #24
Good morning. ☕

Thanks for your issue. Normally the `wp-translation-downloader` has no restrictions to anything aside from what is defined in `require` in `composre.json`. We run it inside Containers, WSL, on different OS, even on Github Actions (which is using a Container 🙈 ).

Is there any output shown what is happening? Can you please describe your workflow? Is composer executed inside of the

[2022-03-21 11:24] gioamato commented on #24
If you use the WordPress container with a previous build step there is no need to require `wordpress` inside `composer.json` as the WordPress system files are already inside the container. In this case `wp-translation-downloader` will not download translations for it. E.g.:

**Dockerfile:**
[code]

**composer.json:**
[code]

In this case the `it_IT` translations wil be downloaded for the `wpackagi

[2022-03-21 13:13] Chrico commented on #24
Ah now i understand it...it is not downloaded, because it only downloads what in `require` is defined. `wp-translation-downloader` is a Composer plugin and works on the packages Composer is installing/downloading. It does not know about the enviornment or where it is installed, so i cannot install WP without having it defined in `require` :)

[2022-03-21 14:01] gioamato commented on #24
Exactly. That's why i started talking about supporting containerized WordPress environments based on the official image.

I could add a property inside config section to instruct the package to download core translations, if it's ok for you.

[2022-03-21 15:24] gmazzap commented on #24
Hi @gioamato

One reason why this plugin expects the "require" is that it needs to know the version of translations it needs to download. So an eventual configuration can't just be a boolean.

However, I think that a configuration like `"force-core-translations": "5.8"` <sup>**1**</sup> could make sense.

Then here: https://github.com/inpsyde/wp-translation-downloader/blob/master/src/Plugin.php#L2

[2022-03-21 15:55] gioamato commented on #24
Hey @gmazzap, I agree with you and your proposed solution. I will manage to reserve some time to craft this PR as soon as everyone agree.

Could you detail more the use cases where you had to require a WP core package without needing it? In my use case `dependabot` keeps WordPress up to date, so a manual step is required to update and match the version in `force-core-translations`.

[2022-03-21 16:20] gmazzap commented on #24
@gioamato In some situations we have WordPress installed by "managed WP hostings" (like https://wpvip.com), and for those we ave custom installers to "marry" their approach with our Composer-based approach.

In those cases, I don't need WP to be installed by Composer, because WordPress files are given by the hosting.

What I do is to require [`johnpbloch/wordpress-core`](https://packagist.org/pack

[2022-03-22 06:17] Chrico commented on #24
Approach with `force-core-translations` sounds good to me. Had something similar in mind by reading this (we had this discussion also a few times new @gmazzap 😬 ).

If it's urgent someone needs to take over since i'm mostly full this week. Please ensure that tests are added as well to the behat test suite for this. :)

[2022-05-06 13:15] Biont opened #25 "[Feature Request]: Faciliate "single-package" use"
### Is your feature request related to a problem?

This wonderful composer plugin has been written for orchestrating entire WordPress installations. However, It would be very helpful for plugin development if we were able to include this tool into our development and packaging workflows. By this I mean the ability to download translations inside the repository of a single `"wordpress-plugin"` into

[2022-05-06 13:51] Chrico commented on #25
Thanks for the input @Biont ! Totally understand your use case and yes, it might makes sense to include wp-translation-downloader into a plugin/library itself and install the root dependencies.

I was also considering to improve the "resolving of directories" due issue #13 to not restrict to specific types (library, wp core, plugin, theme) by static mapping those to folders like it is currently do

[2022-05-09 10:51] Chrico commented on #25
Started to work here: https://github.com/inpsyde/wp-translation-downloader/tree/feature-custom-directories @Biont

[2022-05-10 12:38] Chrico commented on #25
Merged today the branch via https://github.com/inpsyde/wp-translation-downloader/pull/27 into `dev-master`. No release created yet, but will come soon. ;-)

[2022-05-10 14:14] Chrico commented on #13
Hey ☕

With the latest implementation of https://github.com/inpsyde/wp-translation-downloader/pull/27 (not released yet), it is also possible to configure non-predefined types. You can use for example:

[code]

which will download your translations for mu-plugins into `/{root-path}/public/languages/mu-plugins/`.

[2022-05-12 08:31] Chrico commented on #25
This was released with the latest 2.1 version. Check out the changelog: https://github.com/inpsyde/wp-translation-downloader/releases/tag/2.1 :)

[2022-05-12 08:32] Chrico commented on #13
This was released with the latest 2.1 version. Check out the changelog: https://github.com/inpsyde/wp-translation-downloader/releases/tag/2.1 :)

@benoitchantre

[2022-05-12 08:33] #12 closed, assigned to Chrico

[2022-05-12 08:36] Chrico commented on #9
I've implemented the Locker feature and it is part of the latest 2.1 version. Check out the changelog: https://github.com/inpsyde/wp-translation-downloader/releases/tag/2.1 :)

I'll keep that issue a bit open if anything related to that appears again. 👍

[2022-05-12 09:50] benoitchantre opened #29 "[Bug]: /wp-content/languages/plugins/" directory does not exist (CI)"
### Description of the bug

I have updated this depency from version 2.04 to version 2.1.

I have now an issue in my Github workflow : `/wp-content/languages/plugins/" directory does not exist`

The `auto-run` parameter is set to `false`.
Translations are downloaded with the following command: `composer wp-translation-downloader:download`

### Reproduction instructions

- Set `auto-run` to `false`

[2022-05-12 10:00] Chrico commented on #29
Hey ☕
thanks for reporting. Can you maybe see more when you run with `-vvv` and provide some example composer.json / wp-translation-downloader.json so that i can try to reproduce it? :)

[2022-05-12 10:42] Chrico commented on #29
@benoitchantre did some small improvements when iterating over `TranslatablePackage` to ensure that those `languageDirectory()` exist before download & unzip the files. Additionally i improved the `trim()` of trailing slashes for directory input via `wp-translation-downloader`-configuration. Could you quickly test with `dev-master` ? :)

See changes in: https://github.com/inpsyde/wp-translation-do

[2022-05-12 11:40] Chrico commented on #24
After doing the 2.1 release i may have time in the upcoming weeks to add this feature as well. But i would not implement `force-core-translations` as configuration. 🤔 Currently i have following in my mind:

[code]

I guess this could become handy, when for example a hoster already has some pre-installed plugins/themes/features, which also need translations to allow pulling them.

[2022-05-12 14:15] benoitchantre commented on #29
@Chrico I did a quick test and it didn't worked.

Here's a simplified version of my `composer.json`

[code]

And a simplified version of my deployment workflow (only the build part with unrelated steps removed)

[code]

`make install WP_ENVIRONMENT_TYPE=local` runs `composer install --no-interaction --no-ansi --no-progress` and copy required some files that are not related to PHP if needed.

`make

[2022-05-12 14:40] Chrico commented on #29
Hm... I just created with the code you posted here a temporary test repo: https://github.com/Chrico/_wp-translation-downloader-test/runs/6408040694?check_suite_focus=true

Only changes i did: I replaced the `make`-scripts with the `composer install ...`  you mentioned, removed  `make check-phpcs` (since i don't have that) and i added `-vvv` to the wp translaton downloader step to get more info.

-

[2022-05-13 07:23] Furo42 opened #30 "[Bug]: Doesn't download latest translations from WordPress API"
### Description of the bug

After installing translations with wp-translation-downloader there is still the option to update translations within the WordPress backend.
In the current case it concerns the translation "de_DE_formal" of the plugin "User Switching" from John Blackbourn. It's installed with Composer (wpackagist-plugin/user-switching)
When I install the translation with wp-translation-d

[2022-05-13 07:28] Chrico commented on #30
Hey @Furo42 ☕

Thanks for reporting. Could you please provide an example `composer.json` and `wp-translation-downloader.json` so that i can reproduce it locally? :)

Can you also provide the output of `composer install` and `composer wp-translation-downloader::download -vvv` so that i can see which version composer is actually installing and which API Endpoint wp-translation-downloader is calling?

[2022-05-13 08:14] Furo42 commented on #30
Sure! This the composer.json (a reduced version). A wp-translation-downloader.json doesn't exist, all the configuration is within the composer.json
[composer.txt](https://github.com/inpsyde/wp-translation-downloader/files/8685265/composer.txt)

This is the output with -vvv argument

[code]
The translation at the endpoint is the latest one.
But I got curious about the "cache" thing so I did a `comp

[2022-05-13 08:53] Chrico commented on #30
Right now `Composer\Cache` is in use and you can only purge full cache (including the composer one).

The Cache currently contains the ZIP files to skip the "download file"-process for re-run on same version. Those zip files normally have the version string in file name, so i guess what occurs here is, that the translation of the existing version 1.5.8 was updated, but the ZIP was already download

[2022-05-13 09:32] benoitchantre commented on #29
Thank you for your feedbacks.

I'll create a test repo to debug that, but I won't have the time to do that in the next few days.

[2022-05-13 09:33] Chrico commented on #30
Here we go @Furo42 : https://github.com/inpsyde/wp-translation-downloader/commit/ad31a735cfc70d83054266870474bf58e2e72c41

Good catch! Thanks a lot for input. :) I'll create a release later this day 💪

[2022-05-13 14:19] Chrico commented on #30
I just published 2.1.1: https://github.com/inpsyde/wp-translation-downloader/releases/tag/2.1.1 . I'll keep that issue open for a bit.

[2022-05-13 20:34] Furo42 commented on #30
Thank you for fixing it so quickly!
Unfortunately I can't reproduce this behaviour again after deleting the whole Cache (and it's difficult to access and manipulate the Cache in our environment because it's located within a Dockaer container).

But the fix looks good and is by far better than everything I could have imagined!
I will keep my eyes to the translation updates in the backend and will k

[2022-05-16 06:38] Chrico commented on #30
Good morning,

glad to hear!  ☕ I guess it's time for me to implement some `composer wp-translation-downloader:cache-clean` command 😬

I'll close for now the issue since it is resolved, but feel free to create a new one or ping me! 💪

[2022-05-16 06:38] #30 closed, assigned to Chrico

[2022-05-16 12:45] #9 closed, assigned to Chrico

[2022-05-16 12:46] #13 closed, assigned to Chrico

[2022-05-16 13:58] Biont commented on #25
Thank you very much for this!
Since this new release appears to cover everything that was raised in this issue, I think we can close it. Remaining problems can be discussed in new issues. Thanks again.

[2022-05-16 13:58] #25 closed, assigned to Chrico

[2022-05-18 08:19] gmazzap commented on #24
@Chrico That could work as well, and indeed it could be useful in other situations.

I would say it sounds a bit too much to just say "I need translation for core" considering that core is _always_ there, especially when you have to adjust the "version" config every time.
So please if you follow this approach, make sure to support the `*` requirement for version that, by the way, is a valid Compos

[2022-05-18 12:57] Chrico commented on #24
@gmazzap
Wondering how we should resolve that, since we don't know the latest version of something. We could use the `Composer\Semver\VersionParser()` from https://github.com/composer/semver , which is part of Composer, but it will not magically find out to what `^5.9` actually resolves to `5.9.3` without calling Packagist API via `Composer\Package\Version\VersionSelector::findBestCandidate()`. 🤔

[2022-05-20 20:52] benoitchantre commented on #29
@Chrico The bug appears when some plugins are installed as dev dependencies and then removed. You can see that in my test repository by looking at the latest 2 commits and workflow runs.
https://github.com/benoitchantre/test-wp-translation-downloader

[2022-05-23 06:55] Chrico commented on #29
Good catch 💪 will dig into it. :)

Error probably occurs here: https://github.com/inpsyde/wp-translation-downloader/blob/master/src/Util/Remover.php#L61

[2022-05-23 07:06] Chrico commented on #29
See: https://github.com/inpsyde/wp-translation-downloader/commit/778ec7bcab6af755291dc9f7cab02ae998b6b4b4

@benoitchantre could you try to test this? :)

[2022-05-23 11:24] Chrico commented on #24
Created a new branch for this feature: https://github.com/inpsyde/wp-translation-downloader/tree/feature-virtual-packages

The new node will be `virtual-packages` in configuration file which allows to either set a "fixed" version or just use the "latest" by not adding `version` to the package.

Read more in docs here: https://github.com/inpsyde/wp-translation-downloader/blob/feature-virtual-packag

[2022-05-23 13:39] benoitchantre commented on #29
@Chrico It works, thank you for the fix.

Unrelated: is it normal to see the plugin banner when the `auto-run` value is set to `false` ?
[code]
From my memory, it wasn't displayed after a `composer install` when the auto-run is disabled.

[2022-05-23 14:28] Chrico commented on #29
@benoitchantre i moved a bit code with latest release and introduced the `Plugin::boostrap()` and removed the `Io` class to re-use only the Composer one. I guess this is a side-effect since `Plugin::bootstrap()` is called before `$this->pluginConfig->autorun()` is called. I guess it's fine since the _Configuration "auto-run" is set to "false"_ is printed afterwards. 😮

[2022-05-24 07:13] #24 closed, assigned to nobody

[2022-05-24 07:27] Chrico commented on #24
This was released with version 2.2 https://github.com/inpsyde/wp-translation-downloader/releases/tag/2.2

CC @gioamato

[2022-05-24 08:21] Chrico commented on #29
The fix was released with version 2.2 https://github.com/inpsyde/wp-translation-downloader/releases/tag/2.2 💪 Thanks for your input @benoitchantre

[2022-05-24 08:37] #29 closed, assigned to Chrico

[2022-05-25 11:35] Chrico commented on #29
JFI:

This was revereted/fixed in version 2.2.1 @benoitchantre 🙈

[2022-05-25 11:49] benoitchantre commented on #29
@Chrico Thank you!

[2022-05-26 11:21] gioamato commented on #24
Thank you @Chrico, this approach also solves the issue of updating the translations in automated environments (like using dependabot) omitting version specification so the latest version is downloaded at build time.

Just a note: committing the `wp-translation-downloader.lock` leads to translations missing from production because during the github action run the translations will be locked and not

[2022-09-17 17:44] tyrann0us opened #33 "[Feature Request]: Support deployment/infrastructure-related `composer.json` file"
### Is your feature request related to a problem?

In projects with a separation of concern between the infrastructure/deployment level and the application level, we use to have two `composer.json` files. The usual one in the root level and a different one in a `deployment/` folder. The latter is meant specifically for packages that provide logic for certain tasks during deployments.

WP Translati

[2022-09-19 13:56] gmazzap commented on #33
I'm sorry, but I don't think a general-purpose Composer plugin should support anything like that.

Having separate `composer.json` for packages needed only on deployment is not anywhere a standard practice. It looks like a very custom and very arbitrary thing to do, and not even sure I understood what the purpose is.

_(IMO that is not even "separation of concerns", as this issue proves that conce

[2022-11-07 14:05] Chrico opened #35 "[Feature Request]: Add possibility to configure auth for GlotPress"
## Is your feature request related to a problem?

Most of the time when using `inpsyde/wp-translation-downloader`, we're dealing with custom client code and using a self-hosted GlotPress installation to manage those translation files.

Due security and privacy reasons we need to protect the translation files behind some authentication. This is currently not supported when resolving the packages to

[2022-11-07 14:19] 2ndkauboy commented on #35
While having the `username:password` in the URL works in a browser, it does not work when using the update command. But is t asks for the username and password, which might also be OK as then we don't have to hard code credentials into a "published" configuration file and only developers with knowledge of the basic auth credentials can do the update.

[code]

[2022-11-07 14:27] 2ndkauboy commented on #35
While having the `username:password` in the URL works in a browser, it does not work when using the update command. But is t asks for the username and password, which might also be OK as then we don't have to hardcode credentials into a "published" configuration file and only developers with knowledge of the basic auth credentials can do the update.

[code]

[2022-11-08 06:50] gmazzap commented on #35
@Chrico are you sure this is not supported _already_? :)

The package uses Composer's downloaders.
And Composer's downloaders will use whatever configuration is set in the Composer's `auth.json`

So if you use `auth.json` to set auth for the domains of the custom Glotpress installations, it should just work.

For example, having a configuration like this:

[code]

then if you set in Composer's `au

[2022-11-08 07:40] Chrico commented on #35
Yes and no, For downloading the translation zip files via Composer Packages it is might be supported, but not for getting the JSON file which contains the ZIP files.

**JSON Request is not using any auth:** https://api.wordpress.org/translations/core/1.0/

--> https://github.com/inpsyde/wp-translation-downloader/blob/2.3/src/Package/TranslatablePackage.php#L163-L165 🙈

**ZIP Request might does:**

[2022-11-08 07:52] gmazzap commented on #35
Ah, ok @Chrico

Do we need to protect getting the JSON file?

If so, are we sure that the credentials for getting the JSON file are the same to get the zip files?

Because otherwise, the configuration format should allow a double configuration...

If the auth can be assumed the same, we could use Composer [`FileDownloader`](https://github.com/composer/composer/blob/main/src/Composer/Downloader/Fil

[2022-11-08 09:31] 2ndkauboy commented on #35
It looks like currently you have to add the basic auth credentials in two places:
1. In the `api/name` URL in the `wp-translation-downloader.json` file
2. In the `auth.json` file

The credentials are the same for both. Setting it in both places allows us to successfully pull translations from a GlotPress instance protected with basic auth.

[2022-11-08 09:37] Chrico commented on #35
That's a question we need to answer and decide.

I guess there is not much data which will be exposed by reading the GlotPress JSON endpoint. More important is to protect the ZIP files from being downloaded. But at the same time, the problem is, that the custom GlotPress just links the ZIP files which are stored in `/wp-content/traduttore/{project}-{version}.zip`. Auth can only be added via server

[2022-11-09 19:16] gmazzap commented on #35
Right now, you have to enter the credentials in both places because one is used by `file_get_contents` and the other by Composer downloader.

if we use a Composer downloader for the JSON, then only `auth.json` would suffice.

@Chrico  I guess we can start with that, it should be easy enough. I could work on this... if i can find one hour in the next few days. But if anyone wants to do it, feel ver

[2022-11-10 08:08] Chrico commented on #35
@gmazzap as you want, just go for it 💪🏻

I guess we can just load those "available translations" outside in the [TranslatablePackageFactory](https://github.com/inpsyde/wp-translation-downloader/blob/master/src/Package/TranslatablePackageFactory.php#L80) and inject them into the TranslatablePackage. Makes no sense to load them inside of a Package due "side effects".